{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}


	<div>
		{% if app.user %}
			<h1>Bienvenue
				{{ app.user.pseudo }}</h1>

		{% else %}
			<div class="fond">
				<div class="text">
					<p class="conte">Il était une fois... un Salon oublié, suspendu entre deux tasses de thé et une faille temporelle.</p>
					<p class="conte">Les chapeaux y dansent seuls, les horloges chantent faux, et le Chapotier parle aux miroirs.</p>
					<p class="conte">Personne ne sait vraiment s’il faut entrer par la porte… ou par une idée folle.</p>
					<p class="conte">Une seule chose est sûre…</p>
					<p class="conte">Ici, la raison est facultative.</p>
					<p class="conte">Mais la connexion, elle, est obligatoire.</p>
				</div>
				<div class="btns" id="box-btn" hidden>
					<a href="{{ path('app_login') }}" class="btn-home" id="btn-enter">Entrer</a>
					<a href="{{ path('app_inscription') }}" class="btns btn-home" id="btn-register">Devenir Chapotier</a>
				</div>
			{% endif %}
			<div class="contain">
				{% if app.user %}
					{% for chapeau in chapeau %}
						<div class="chapo">
							<h2 class="titre">{{ chapeau.name }}</h2>
							<div class="img">
								<img src="{{ asset('/uploads/images/'~ chapeau.imageName) }}" alt="photo d'un chapeau">
							</div>
							<a href="#" class="btns btn-home">
								Percez son mystère
							</a>
						</div>
					{% endfor %}
				{% endif %}
			</div>

		</div>
	</div>
{% endblock %}
