{% extends 'base.html.twig' %}
{% block body %}
	<h1>Bonjour</h1>


	<div
		class="cards-chapo">
		{# <div class="chapo-card" data-controller='chapo-sound' {% if chapeau.name == 'chapon' %} data-chapo-sound-sound-value="{{ asset('sounds/chapi.mp3') }}" ata-action="mouseenter->chapo-sound#play" {% endif %}> #}

		<div class="cards">
			<img src="{{ asset('/uploads/images/'~ chapeau.imageName) }}" alt="photo d/un chapeau">
		</div>
		<div class="description"></div>
		<h2>{{ chapeau.name }}</h2>
		<p>{{ chapeau.caractere }}</p>
		<p>{{ chapeau.valeur }}</p>
		<p>{{ chapeau.description }}</p>
		<p>{{ chapeau.commentaire }}</p>
	</div>
</div>
<a href="{{path('app_chapotheque')}}" class="btns btn-home">Retour</a>{% endblock %}
